<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Talep Detay</h1>
    <!--<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
    </button>
    </div>-->
</div>

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-0">Talep : <%= data.uuid %></h4>
                <span>Talep Tipi: <span class="badge badge-warning" id="req-type"></span></span>
                <span>Talep Tarihi: <span class="badge badge-success" id="req-createdAt"></span></span>
                <span>Talep Durumu: <span id="req-status"></span></span>
              </div>
              <div class="card-body">
                <form action="/admin/request/response" method="POST" class="needs-validation" novalidate>
                  <div class="row col-md-12 mb-2">
                    <div class="profile-title">
                      <div class="d-flex">
                        <div class="flex-grow-1">
                          <h4 class="mb-1"><%= data.title %></h4>
                          <p><%= data.content %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 class="form-label">Cevap</h6>
                    <input type="hidden" name="requestId" value="<%= data.id %>">
                    <textarea class="form-control" rows="5" name="responseContent" required></textarea>
                    <div class="invalid-feedback">
                        Lütfen bir cevap yazınız.
                    </div>
                  </div>
                  <div class="form-footer">
                    <button class="btn btn-primary btn-block">Cevapla</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body">
                <h6 class="border-bottom border-gray pb-2 mb-0 sayem-title-black">Yetkili Cevapları</h6>
                <div class="media text-muted pt-3" style="width: 100%;">
                    <ul id="admin-responses" style="width: 100%;list-style-type:none;padding-left: 0px;">
                    </ul>
                </div>
            </div>
          </div>
    </div>
</div>

<script>
    (function() {
          'use strict';
          window.addEventListener('load', function() {
            var data = <%- JSON.stringify(data) %>;

            $("#req-type").text(requestTypeConverter(data.requestTypeId));
            $("#req-createdAt").text(dateFormater(data.createdAt));
            $("#req-status").html(requestStatusConverter(data.status));
            $("#req-created").html(prettyDate(data.createdAt));

            if (data.responses.length > 0) {
                data.responses.forEach(element => {
                $("#admin-responses").append(`
                        <li style="padding-top: 5px;">
                            <img src="/images/favicon.ico" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;">
                            <div class="media-body mb-0 small lh-125 border-bottom border-gray">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <strong class="text-gray-dark">${element.authorName}</strong>
                                <span>${prettyDate(element.createdAt)}</span>
                            </div>
                            <span class="d-block">${element.message}</span>
                            </div>
                        </li>
                `);
                });
            } else {
                $("#admin-responses").html("Talep hiçbir yetkili tarafından cevaplanmdı.");
            }

            
            
          }, false);
    })();

    function prettyDate(time){
        var date = new Date((time || "").replace(/-/g,"/").replace(/[TZ]/g," ")),
            diff = (((new Date()).getTime() - date.getTime()) / 1000),
            day_diff = Math.floor(diff / 86400);
        if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
            return;
        return day_diff == 0 && (
                diff < 60 && '<span class="badge badge-info">biraz önce</span>' ||
                diff < 120 && '<span class="badge badge-info">1 dakika önce</span>' ||
                diff < 3600 && '<span class="badge badge-info">'+ Math.floor( diff / 60 ) + ' dakika önce' +'</span>' ||
                diff < 7200 && '<span class="badge badge-info">1 saat önce</span>' ||
                diff < 86400 && '<span class="badge badge-info">'+ Math.floor( diff / 3600 ) + ' saat önce' +'</span>') ||
            day_diff == 1 && '<span class="badge badge-info">Dün</span>' ||
            day_diff < 7 && day_diff + ' gün önce' ||
            day_diff < 31 && Math.ceil( day_diff / 7 ) + ' hafta önce';
    }

    function requestStatusConverter(status) {
        if (status) {
            return '<span class="badge badge-success">Cevaplandı</span>';
        } else {
            return '<span class="badge badge-warning">Beklemede</span>';
        }
    }

    function requestTypeConverter(type) {
        switch(type) {
            case 1:
                return "İSTEK";
            case 2:
                return "ŞİKAYET";
            case 3:
                return "ÖNERİ";
            default:
                return "Bilinmeyen";
        }
    }

    function dateFormater(date) {
        return new Date(date).toLocaleDateString('tr-TR');
    }
  </script>